.b-exchange-widget .exchange-rates {
    display: flex;
    flex-wrap: none;
    justify-content: space-around;
    margin-bottom: 80px;
    font-size: 20pt;
}

.b-exchange-widget .input-area {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    flex-grow: 1;
    max-width: 400px;
    color: white;
}

.b-exchange-widget .currency-input {
    background: #1c9bff none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    height: 50px;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.b-exchange-widget .currency-type {
    top: 0;
    background: #077aea none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    height: 50px;
    padding: 0 15px;
    position: absolute;
    right: 0;
}

.b-exchange-widget i {
    display: block;
    margin: 0 10px;
    font-size: 20pt;
    line-height: 50px;
}

.b-exchange-widget .exchange-button {
    padding: 20px;
    border-radius: 10px;
    background: rgba(0,0,0,0);
    border: 3px solid #077aea;
    color: #ffffff;
    font-size: 24px;
    transition: all 200ms;
}

.b-exchange-widget .exchange-button:hover {
    background: rgba(67, 158, 250, 0.8);
} 