.b-info .toggle-list .toggle {
    overflow: hidden;
    transition: all 300ms;
    padding: 15px 0;
    border-top: 2px solid white;
}

.b-info .toggle-list .toggle:not(.active) {
    cursor: pointer;
}

.b-info .toggle-list .toggle .toggle-inner p {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition:   
      opacity 0s,
      margin .2s 0.0s,
      font-size .2s 0.0s,
      padding .2s 0s;
}

.b-info .toggle-list .toggle.active .toggle-inner p {
    font-size: 16px;
    opacity: 1;
    height: auto;
    padding: 5px 0;
    transition:   
      margin .3s,
      padding .3s,
      font-size .3s,
      opacity .2s .3s;
}