* {
    margin: 0;
    padding: 0; 
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: linear-gradient(
        #162C47, #0B1636);
}

.b-sidebar {
    background-color: 	#0C112F;
    height: 100%;
    position: fixed;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b-sidebar > .nav-icon {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 200ms;
}

.b-sidebar .nav-icon:hover {
    background-color: white;
}


.b-sidebar .nav-icon i {
    font-size: 100px;
    background-image: linear-gradient(
        to bottom right, #09ffff, #20e3b2, #138668);
     
    -webkit-background-clip: text;
    background-clip: text;
     
    color: transparent;
}