.b-sidebar {
    background-color: 	#09132f;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 160px;
    border-right: 2px solid #1494ff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.b-sidebar > div {
    flex-grow: 1;
    position: relative;
    transition: all 180ms;
    border-bottom: 2px solid #1494ff;
}

.b-sidebar > div:nth-child(6) {
    border: none;
}

.b-sidebar .nav-icon:hover a:not(.active) i {
    background-image: linear-gradient(
        to bottom right, #85ffff, #55fdd3, #39b997);
}

.b-sidebar .nav-icon i {
    font-size: 80px;
    background-image: linear-gradient(
        to bottom right, #09ffff, #20e3b2, #138668);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.b-sidebar .nav-icon img {
    width: 70px;
}

.b-sidebar div a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.b-sidebar a.active {
    background-color: rgb(71, 85, 161);
}
