.b-sidebar {
    background-color: 	#09132f;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 160px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "logo logo"
        "nav1 nav1"
        "nav2 nav2"
        "nav3 nav3"
        "nav4 nav4"
        "nav5 nav6";
}

.b-sidebar > .logo {
    grid-area: logo;
}

.b-sidebar > div {
    width: 100%;
    position: relative;
    transition: all 180ms;
}

.b-sidebar > div:nth-child(2) {
    grid-area: nav1;
}
.b-sidebar > div:nth-child(3) {
    grid-area: nav2;
}
.b-sidebar > div:nth-child(4) {
    grid-area: nav3;
}
.b-sidebar > div:nth-child(5) {
    grid-area: nav4;
}
.b-sidebar > div:nth-child(6) {
    grid-area: nav5;
}
.b-sidebar > div:nth-child(7) {
    grid-area: nav6;
}

.b-sidebar .nav-icon:hover, .b-sidebar > .logo:hover {
    background-color: rgb(61, 85, 221);
}
.b-sidebar .nav-icon:hover a:not(.active) i {
    background-image: linear-gradient(
        to bottom right, #85ffff, #55fdd3, #39b997);
}

.b-sidebar .nav-icon i {
    font-size: 80px;
    background-image: linear-gradient(
        to bottom right, #09ffff, #20e3b2, #138668);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.b-sidebar .nav-icon img {
    width: 70px;
}

.b-sidebar .nav-icon:nth-child(6) img, .b-sidebar .nav-icon:nth-child(7) img {
    width: 60px;
}


.b-sidebar .nav-icon:nth-child(6) i, .b-sidebar .nav-icon:nth-child(7) i {
    font-size: 60px;
}

.b-sidebar div a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.b-sidebar a.active {
    background-color: rgb(71, 85, 161);
}
